{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<dashboard-container></dashboard-container>

{% endblock %}

{% block scripts %}
<script src="/static/web-components/dashboard/SchedulerSettings.js" type="module"></script>
<script src="/static/web-components/dashboard/MessageList.js" type="module"></script>
<script src="/static/web-components/dashboard/ScheduleManager.js" type="module"></script>
<script src="/static/web-components/dashboard/HealthStatus.js" type="module"></script>
<script src="/static/web-components/dashboard/QrCodeImage.js" type="module"></script>
<script src="/static/web-components/dashboard/SessionStatus.js" type="module"></script>
<script src="/static/web-components/dashboard/SessionManager.js" type="module"></script>
<script src="/static/web-components/dashboard/ImageEditor.js" type="module"></script>
<script src="/static/web-components/dashboard/MediaManager.js" type="module"></script>

<script src="/static/web-components/dashboard.js" type="module"></script>
{% endblock %}
